<h1>Tasks</h1>

<h2 class="-mb-0">Input number of digits:</h2>
<%= form_tag(tasks_path, method: :post) do -%>
    <div>
      <%= text_field_tag 'digit', nil, placeholder: 'Enter length of a digit here...' %>
    </div>
    <div class="-mt"><%= submit_tag 'Add task' %></div>
<% end -%>

<% if @tasks.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Digit</th>
        <th>Result</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.order(created_at: :desc).each do |task| %>
        <tr>
          <td>
            <%= task.id %>
          </td>
          <td>
            <%= task.digit %>
          </td>
          <td>
            <%= task.result %>
          </td>
          <td>
            <%= task.created_at %>
          </td>
          <td>
            <%= link_to_if task.result.blank?,
                           'Compute',
                           compute_task_path(task) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 style="margin-top: 40px;">No tasks found</h2>
<% end %>
